.parent {
  min-height: 350px;
  position: relative;
  border: 5px solid;
}

.circle {
  background-color: red;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-family: sans-serif;
  font-size: 4rem;
  position: absolute;
  opacity: 0.5;
}

.circle:nth-child(2) {
  background-color: rgb(4, 4, 121);
  left: 50%;
  top: 35%;
}
.circle:nth-child(3) {
  background-color: rgb(2, 74, 2);
  right: 0;
}
.circle:nth-child(4) {
  background-color: rgb(150, 34, 34);
  bottom: 0;
  left: 0;
}
.circle:nth-child(5) {
  background-color: rgb(91, 89, 89);
  bottom: 0;
  right: 0;
}

/* numbers inside the circle  */

.numbers {
  position: absolute;
  left: 25%;
}

.opaque {
  opacity: 1;
}
